In [1]:
import pandas as pd
import datetime
import yfinance as yf

In [4]:
start_date = datetime.date(2015,1,1)
end_date = datetime.datetime.today()

In [5]:
symbol = "^NSEBANK"

In [10]:
data = yf.download(symbol, start=start_date, end=end_date)
data = round(data,2)
data = data[["Open","High","Low","Close","Volume"]]

[*********************100%***********************]  1 of 1 completed

In [12]:
data.describe()

               Open          High           Low         Close        Volume
count   1784.000000   1784.000000   1784.000000   1784.000000  1.784000e+03
mean   28632.343302  28844.281754  28374.907876  28612.745572  1.272988e+06
std     7323.724950   7360.552535   7285.362752   7327.806497  4.297871e+07
min    13844.450000  13844.450000  13519.900000  13555.700000  0.000000e+00
25%    22972.062500  23165.812500  22733.762500  22959.862500  0.000000e+00
50%    27408.600000  27553.775000  27201.950000  27404.375000  0.000000e+00
75%    34955.300000  35222.837500  34652.887500  34949.925000  1.698000e+05
max    44078.600000  44151.800000  43987.950000  44049.100000  1.798102e+09

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1784 entries, 2015-01-02 to 2023-05-12
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1784 non-null   float64
 1   High    1784 non-null   float64
 2   Low     1784 non-null   float64
 3   Close   1784 non-null   float64
 4   Volume  1784 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 83.6 KB

In [14]:
data.to_csv("BankNifty_Data.csv")